*{
    font-family: 'Roboto', sans-serif;  
    font-weight: bold;
    color: #FFFFFF;

}

body{
    background-image: url(/img/iOrigins_cover_homepage.jpg); 
    position: absolute;
    background-repeat: no-repeat;
    max-width: fit-content;
    background-size: 107%;
}

.movieInfo{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 15rem;
    
}

.movieTitle{
    font-family: 'Calfine DEMO';
    font-style: normal;
    font-weight: 900;
    font-size: 20rem;
    margin: 0;
    padding-bottom: 0;
}

.descriptionText{
    max-width: 50rem;
    font-weight: 300;
}

.movieText{
    display: flex;
}

#goBackArrow{
    padding-left: 20rem;
    padding-top: 5rem;
    margin: 0; 
    padding-right: 1rem;
}
