*{
    background: #141110;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:0;
    padding: 0;
    color: white;
}

/*header*/

.catalogueText{
    
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 4rem;
    

}

h2{
    font-size: 6rem;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    font-family: 'KAGE-Freebies', sans-serif;
    padding-left: 3rem;
}

.top{
    z-index: 2;
    position: absolute;
    margin: 0;
}

.bottom{
    color: transparent;
    -webkit-text-stroke: 1px white;
    z-index: 1;
    position: absolute;
    top: 90px;
    margin: 0;
    padding-bottom: 3rem;
}

.headerText {
    display: flex;
    justify-content: space-evenly;
    padding-left: 60%;
    margin-bottom: 1rem;
}

/*main*/

#moviesSection{
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-top: 4rem;
}

.button{
    cursor: none;
    text-decoration: none;
    margin-top: 1rem;
}

.filmBox{
    width: 296px;
    height: 530px;
    border: 2px solid rgba(242, 237, 237, 0.2);
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
    
.titleName, .directorName,.category,.moreInfo {

    display: flex;
    justify-content: center;
    
}

.titleName{
    font-weight: 850;
    font-size: 2rem;
    padding: 2rem;
}

.category{
    font-weight: 300;
    font-size: small;
    padding-top: 0.4rem;
}

.directorName{
    font-weight: 600;

}

#filmBox{
    display: flex;
    flex-direction: column;
}

.image{
    width: 213px;
    height: 314px;
    left: 114px;
    top: 316px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}


.moreInfo{
    
    width: 296px;
    height: 41px;
    margin-top: 1rem;
    border: 2px solid rgba(242, 237, 237, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    padding: 2rem;
}

#filmBox p {

    display: flex;
    justify-content: left;
    padding-left: 4rem;
    align-items: stretch;
}


/*footer*/
.footerText{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    font-size: 0.9rem;
    opacity: 90%;
    margin-bottom: 4rem;
    padding-left: 2rem;

}

#socialMedia{
    size: 8rem;
    height: 40px;
    margin: 2rem;
    margin-left: 0;
    margin-top: 2rem;
    display:flex;
    
    
}

.aboutUs, .contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10vw;
    max-width: 70%;
    
}

#aboutUs{
    text-align: left;
    max-width: 45%;
}

#contact{
    text-align: left; 
}

#line{
    width: 1382px;
    height: 0px;
    left: 73px;
    top: 1797px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    margin-left: 5.9rem;
    margin-top: 4rem;
}

#searchButton{
    
}